<footer>
    <table class="contacts">
        <caption>
            <strong>Contacts</strong>
        </caption>
        <tr>
            <td> <strong> E-mail: </strong> </td>
            <td> joncolab@gmail.com </td>
        </tr>
        <tr>
            <td> <strong> Phone: </strong> </td>
            <td> +380 (95) 177 23 52 </td>
        </tr>
    </table>
    <div class="lang-menu"> <span><strong>Language ⧩</strong></span>
        <ul class="languages">
            <li class="lang active">English</li>
    <li class="lang"><a href="../scripts/php/start-uk.php">Українська</a></li>
        </ul>
    </div>
</footer>