<head>
    <meta charset="utf-8">
    <title>Jonco Lab</title>
    <link href="../styles/main-style.css" rel="stylesheet">
    <link href="../jquery/jquery-ui.css" rel="stylesheet">
    <link href="../jquery/jquery-ui.structure.css" rel="stylesheet">
    <link href="../jquery/jquery-ui.theme.css" rel="stylesheet">
    
    <script src="../jquery/external/jquery/jquery.js"></script>
    <script src="../scripts/js/js.cookie-2.1.3.min.js"></script>
    <script src="../jquery/jquery-ui.js"></script>
    <script src="../scripts/js/main-script.js"></script>
</head>