<footer>
    <table class="contacts">
        <caption>
            <strong>Контакти</strong>
        </caption>
        <tr>
            <td> <strong> Ел. пошта: </strong> </td>
            <td> joncolab@gmail.com </td>
        </tr>
        <tr>
            <td> <strong> Телефон: </strong> </td>
            <td> +380 (95) 177 23 52 </td>
        </tr>
    </table>
    <div class="lang-menu"> <span><strong>Вибір мови ⧩</strong></span>
        <ul class="languages">
            <li class="lang"><a href="../scripts/php/start-en.php">English</a></li>
            <li class="lang active">Українська</li>
        </ul>
    </div>
</footer>