<header>
    <script>
        $(document).ready(function () {
            $('header').css({
                "opacity": "1"
            });
        });
    </script>
    <div class="arrow">
        <div class="pyramid">
            <div class="side"></div>
            <div class="side"></div>
            <div class="side"></div>
            <div class="side"></div>
            <div class="floor"></div>
        </div>
    </div>
    <ul class="menu cube">
        <li class="side"></li>        
        <li class="menu-item side">
            <img src="../svg/portfolio.svg">
            <a href="portfolio.html"></a>
            <span>Каталог</span>
        </li>
        <li class="menu-item side">
            <img src="../svg/feedback.svg">
            <a href="feedback.html"></a>
            <span>Зв'язок</span>
        </li>
        <li class="menu-item side">
            <img src="../svg/team.svg">
            <a href="team.html"></a>
            <span>Наша команда</span>
        </li>
        <li class="menu-item side">
            <img src="../svg/services.svg">
            <a href="services.html"></a>
            <span>Послуги</span>
        </li>
        <li class="side"></li>
    </ul>
    <div class="arrow">
        <div class="pyramid">
            <div class="side"></div>
            <div class="side"></div>
            <div class="side"></div>
            <div class="side"></div>
            <div class="floor"></div>
        </div>
    </div>
</header>