$line: 10px;
$time: 0.3s;
$side: 25px;
$silverbsh: #f7f7fa;
$grey: #cccccc;
$darkgrey: #777777;
$black: #343434;
$green: #00804c;
$lightgreen: #59ab85;
$blue: #00afe1;
$lightblue: #00c9f1;
$silverbg: #eeeeef;
$silverbr: #d5d7d8;
$white: #ffffff;
$silvertxt: #9fa4a7;
@font-face {
    font-family: Main;
    src: url('../fonts/aBosaNova.ttf');
}

@font-face {
    font-family: Jonco;
    src: url('../fonts/Spotlight_Typewriter_NC.ttf');
}

@mixin cube($side: 25px) {
    position: relative;
    transform: {
        style: preserve-3d;
        origin: center;
    }
    width: $side * 10;
    height: $side * 10;
    background: {
        color: transparent;
    }
    .side {
        width: inherit;
        height: inherit;
        position: absolute;
        transform-origin: center;
        &:nth-of-type(6) {
            //bottom
            transform: rotate3d(1, 0, 0, 90deg) translate3d(0, 0, $side * 5);
        }
        &:nth-of-type(5) {
            //front
            transform: translate3d(0, 0, $side * 5);
        }
        &:nth-of-type(4) {
            //right
            transform: rotate3d(0, 1, 0, 90deg) translate3d(0, 0, $side * 5);
        }
        &:nth-of-type(3) {
            //left
            transform: rotate3d(0, 1, 0, 270deg) translate3d(0, 0, $side * 5);
        }
        &:nth-of-type(2) {
            //back
            transform: rotate3d(0, 1, 0, 180deg) translate3d(0, 0, $side * 5);
        }
        &:nth-of-type(1) {
            //top
            transform: rotate3d(1, 0, 0, 90deg) translate3d(0, 0, $side * -5);
        }
    }
}

@mixin sphere ($rad: 25px) {
    position: relative;
    transform: {
        style: preserve-3d;
        origin: center;
    }
    width: $rad * 20;
    height: $rad * 20;
    background: {
        color: transparent;
    }
    .circle {
        width: inherit;
        height: inherit;
        position: absolute;
        transform-origin: center;
        border-radius: 50%;
        @for $i from 1 through 29 {
            &:nth-last-of-type(#{$i}) {
                transform: rotate3d(0, 1, 0, 6deg * $i);
                background-color: adjust-hue($blue, 12deg * $i);
            }
        }
    }
}

@mixin pyramid($side: 25px) {
    position: relative;
    transform: {
        style: preserve-3d;
        origin: center;
    }
    width: $side * 10;
    height: $side * 10;
    background: {
        color: transparent;
    }
    .side {
        width: 0;
        height: 0;
        position: absolute;
        border: {
            top: none;
            bottom: $side * 10 solid $blue;
            left: $side * 5 solid transparent;
            right: $side * 5 solid transparent;
        }
        transform-origin: bottom;
        &:nth-of-type(1) {
            transform: translate3d(0, 0, $side * 5) rotate3d(1, 0, 0, 30deg);
            border-bottom-color: $white;
        }
        &:nth-of-type(2) {
            transform: translate3d(0, 0, $side * -5) rotate3d(1, 0, 0, -30deg);
            border-bottom-color: $white;
        }
        &:nth-of-type(3) {
            transform: translate3d($side * 5, 0, 0) rotateY(90deg) rotateX(30deg);
        }
        &:nth-of-type(4) {
            transform: translate3d($side * -5, 0, 0) rotateY(90deg) rotateX(-30deg);
        }
    }
    .floor {
        width: inherit;
        height: inherit;
        transform: translate3d(0, $side * 5, 0) rotate3d(1, 0, 0, 90deg);
    }
}

@keyframes change-color {
    @for $i from 1 through 10 {
        from {
            background-color: $blue;
        }
        #{$i * 10%} {
            background-color: adjust-hue($blue, 36deg * $i);
        }
    }
}

@keyframes rotate {
    to {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}

@keyframes spin {
    to {
        transform: rotate3d(0, 1, 1, 360deg);
    }
}

@media only screen and(min-device-width: 320px) and(max-device-width: 568px) {
    body {
        background: {
            color: lightskyblue !important;
            //            image: none !important;
        }
        h1 {
            color: white !important;
        }
        header {
            background-color: $blue;
            //            margin: 1%;
            margin-bottom: -3%;
            .arrow {
                display: none;
            }
            .side {
                position: relative !important;
                
                &:nth-of-type(5) {
                    //front
                    transform: translate3d(0, 0, $side * 5) !important;
                }
                &:nth-of-type(4) {
                    //right
                    transform: translate3d(0, 0, $side * 5) !important;
                }
                &:nth-of-type(3) {
                    //left
                    transform: translate3d(0, 0, $side * 5) !important;
                }
                &:nth-of-type(2) {
                    //back
                    transform: translate3d(0, 0, $side * 5) !important;
                }
                
            }
            .menu {
                display: flex;
                justify-content: space-around;
                .menu-item {
                    margin: auto 15%;
                    width: 100% !important;
                    transform: scale(1.2) !important;
                    
                    padding: 0 10%;
                    
                    span{
                        display: none;
                    }
                }
            }
        }
        main {
            h1 {
                font: {
                    size: 4em !important;
                }
            }
            padding: 3%;
            .callcentr {
                margin: 0;
                padding: 0;
                height: inherit !important;
                background-image: none;
                .feedback-form {
                    width: 100%;
                    padding: 0 0 5% 0;
                    margin: 7% auto;
                    h1 {
                        font-size: 4.2em;
                        background-color: darken(#00afe1, 5px);
                        margin-bottom: 4%;
                    }
                    label {
                        text-align-last: center;
                        font: {
                            size: 2.7em;
                        }
                        color: white;
                    }
                    input,
                    textarea {
                        margin: auto 4% 2%;
                        font: {
                            size: 2.5em;
                        }
                        text-align: center;
                        color: $black !important;
                    }
                    textarea {
                        text-align: left;
                    }
                    #reset,
                    #submit {
                        color: white !important;
                        background-color: darken($blue, 20px) !important;
                        font: {
                            weight: normal;
                            size: 2.7em;
                        }
                        text: {
                            align: center;
                        }
                        padding: 5%;
                    }
                }
            }
            .main {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                .list {
                    width: inherit;
                    h1 {
                        font-size: 3.3em;
                        margin-bottom: 4%;
                    }
                    ul {
                        li.service {
                            padding: 2%;
                            font: {
                                size: 2.3em;
                            }
                            .arrow {
                                transform: rotate(-90deg);
                                transition: none;
                            }
                            .details {
                                top: 85%;
                                left: 0;
                                z-index: 1;
                                background-color: transparent;
                                border: none;
                                p,
                                li {
                                    widows: inherit;
                                    background: {
                                        color: white;
                                    }
                                    border: 0.2em solid #00afe1;
                                    font: {
                                        size: 0.9em;
                                    }
                                    text: {
                                        align: justify;
                                    }
                                    padding: 1%;
                                }
                                li:not(:last-of-type),
                                p:not(:last-of-type) {
                                    border-bottom: none;
                                }
                                li:not(:first-of-type),
                                p:not(:first-of-type) {
                                    border-top: none;
                                }
                            }
                        }
                    }
                }
                .logo {
                    width: inherit;
                    margin: 3%;
                }
            }
            .content {
                width: 100%;
                padding: 0;
                .user {
                    width: inherit !important;
                    margin: 0 0 2% 0 !important;
//                    background-color: transparent!important;
                    .image {
                        width: 45% !important;
                        height: inherit !important;
                        float: left;
                    }
                    .head {
                        h1 {
                            font: {
                                size: 2.7em !important;
                            }
                            color: $blue !important;
                        }
                    }
                    .contacts {
                        display: inline-block;
//                        margin-top: -3%;
                        ul {
                            li {
                                margin-bottom: 1%;
                                span {
                                    font: {
                                        size: 2.3em;
                                    }
                                }
                                &.vk,
                                &.fb,
                                &.tw {
                                    margin: auto 5%;
                                    transform: scale(1.3);
                                   
                                }
                            }
                        }
                    }
                }
            }
            .skills {
                width: 100% !important;
                h2 {
                    font: {
                        size: 2.4em;
                    }
                }
                ul {
                    li {
                        font: {
                            size: 2em;
                        }
                    }
                }
            }
            .portfolio {
                width: 100%;
                display: flex;
                flex-direction: column-reverse;
                align-items: stretch;
                .catalog {
                    margin-top: -7%;
                    width: inherit;
                    ol {
                        li {
                            h3 {
                                font: {
                                    size: $line * 4;
                                }
                            }
                            p {
                                font: {
                                    size: $line * 3;
                                }
                            }
                        }
                    }
                }
                .sites {
                    width: inherit;
                    ol {
                        li {
                            padding: 3%;
                            p {
                                opacity: 0;
                            }
                            span {
                                font: {
                                    size: 2.3em;
                                }
                                text: {
                                    align: center;
                                }
                            }
                            .arrow {
                                transform: rotate(90deg);
                            }
                        }
                    }
                }
            }
        }
        footer {
            background-color: darken($blue, 10px) !important;
            text-align-last: left;
            //            margin: 0.5%;
            color: white !important;
            overflow: visible;
            min-height: 12% !important;
            .contacts {
                caption {
                    font: {
                        size: 2.2em;
                    }
                    margin: {
                        bottom: 2%;
                    }
                }
                tr {
                    font: {
                        size: 1.9em;
                    }
                }
            }
            .lang-menu {
                span {
                    strong {
                        font: {
                            size: 2.2em;
                        }
                    }
                }
                ul {
                    li {
                        font: {
                            size: 2.2em;
                        }
                    }
                }
            }
        }
    }
}